<marquee behavior="alternate" direction="up" width="80%">
    <marquee direction="right" behavior="alternate" style="color: #008CBA;"><h1><i>For Ambuleance Urgent Call : 01758785747</i></h1></marquee>
</marquee>

<div class="jumbotron">
      <h1>Hospital Management System</h1>

   <img src="@Url.Content("~/Content/77.png")" width="1000px" height="300px" />
</div>
<div>
   <i><h4> 400 beds tertiary care hospital and the leading contributor of private healthcare services in Bangladesh. 
    This has been achieved only through consistent commitment to improving the lives of people through 
    utmost service excellence since its inception on 16th December 2006. Square Hospital is one of the 
    ventures of Square Group which is the top business group of the country. The reputation of 
    Hospital is the result of quality clinical outcome and comprehensive care, made achievable through
    world class integrated healthcare facilities by highly trained professionals. Thus, Square Hospitals
    strives to meet patients’ standards through quality healthcare and making a difference in their lives. </h4></i>
</div>
<div>
   <h2> Mission</h2>

   <b> Deliver QUALITY health care within 5 CORE standards</b>

    Adhering to high ethical and moral standards at all times<br>
    Making service quality top priority in all we do<br>
    Training staff to work within a quality care environment<br>
    Providing quality health care service in all processes<br>
    Delivering customer satisfaction through quality service<br>


</div>
